.tts {
  .suppliersPage {
    .topMenu {
      top: 0;
      max-width: 1134px;
      z-index: 5;
      position: relative;
      padding: 0 50px;
      margin: 0 auto 2.5%;
      @include screen('mobile') {
        padding: 0 30px;
      }
      .item {
        a {
          padding: 0;
          background: none;
          border: 1px solid $mainColor;
          font-size: cRem(22);
          color: $mainColor;
          padding: 7px 10px;
          display: block;
          line-height: 1.5;
          margin: 0 8px;
        }
        &.active a,
        &.active button {
          background-color: $mainColor;
          color: #fff;
        }
        button:hover,
        a:hover {
          background-color: $mainColor;
          color: #fff;
        }
      }
      .slick-arrow {
        svg {
          width: 30px;
          height: 30px;
          fill: $mainColor;
          filter: none;
          use {
            transform: scale(0.62);
          }
        }
      }
    }

    .suppliers {
      padding: 0 20px;
      .container {
        max-width: 1160px;
        margin: 0 auto 2.5%;
        padding: 0;
      }
      .listBox {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        @include screen('tablet') {
          gap: 30px;
        }
      }
      .item {
        width: 100%;
        display: flex;
        background: #f7f7f7;
        position: relative;
        @include screen('mobile') {
          width: calc((100% - 30px) / 2);
          flex-direction: column;
        }
        @include screen('xs_mobile') {
          width: 100%;
          flex-direction: column;
        }
        .pic {
          width: 40%;
          aspect-ratio: 1/1;
          @include screen('mobile') {
            width: 100%;
          }
          img {
            width: 100% !important;
            height: 100% !important;
            object-fit: contain;
          }
        }
        .infoBox {
          width: 60%;
          padding: 5% 5% 5% 60px;
          @include screen('mobile') {
            width: 100%;
            padding: 20px 20px 70px 20px;
          }
        }
        .title {
          font-size: cRem(32);
          font-weight: 600;
          position: relative;
          overflow: hidden;
          margin: 0 0 40px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          @include screen('tablet') {
            font-size: cRem(28);
            margin: 0 0 20px;
          }
          @include screen('mobile') {
            font-size: cRem(22);
          }
        }
        ul {
          font-size: cRem(28);
          padding: 40px 0 0;
          border-top: $mainColor 2px solid;
          @include screen('tablet') {
            font-size: cRem(18);
            padding-top: 20px;
          }
          li {
            position: relative;
            padding: 0 0 0 30px;
            line-height: 1.2;
            & + li {
              margin-top: 10px;
            }
            &::before {
              content: '';
              width: 22px;
              height: 22px;
              left: 0;
              top: 5px;
              position: absolute;
              @include screen('tablet') {
                top: 0px;
              }
            }
          }
        }
        .shop {
          &::before {
            background: url('../../images/pavilion/icon/icon_shop.svg') center no-repeat;
          }
        }
        .cart {
          &::before {
            background: url('../../images/pavilion/icon/icon_cart.svg') center no-repeat;
          }
        }
        .company {
          &::before {
            background: url('../../images/pavilion/icon/icon_company.svg') center no-repeat;
          }
        }
        .address {
          &::before {
            background: url('../../images/pavilion/icon/icon_address.svg') center no-repeat;
          }
        }
        .more {
          width: 175px;
          text-align: center;
          display: block;
          padding: 12px 15px 10px;
          border: 1px solid $mainColor;
          background: $mainColor;
          font-size: cRem(22);
          color: #fff;
          margin: 30px auto 0;
          position: absolute;
          bottom: 0;
          right: 0;
          isolation: isolate;
          display: flex;
          align-items: center;
          justify-content: center;
          @include screen('mobile') {
            width: 100%;
          }
          @include transition(all, 0.3);
          svg {
            content: '';
            width: 16px;
            aspect-ratio: 1;
            fill: #fff;
            display: block;
            margin: 0 0 0 10px;
            @include transition(all, 0.3);
          }
          &::before {
            content: '';
            position: absolute;
            width: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            background: #fff;
            z-index: -1;
            @include transition(all, 0.3);
          }
          &:hover {
            color: $mainColor;
            svg {
              fill: $mainColor;
            }
            &::before {
              width: 100%;
              left: 0;
            }
          }
        }
      }
    }
  }
}
