$mainColor: #b92869;
$secColor: #a548a3;
$textDarken: #222;
$textLighten: #555;

// 資料庫
@import './partials/shared';
@import './style.scss';
@import './index.scss';
@import './lp.scss';
@import './cp.scss';

body {
  font-family: $Jost;
  color: $textDarken;
}
