$mainColor: #006ab6;
$secColor: #2bb4f5;
$textDarken: #222;
$textLighten: #555;

// 資料庫
@import './partials/shared';
@import './style.scss';
@import './index.scss';
@import './lp.scss';
@import './cp.scss';

body {
  font-family: $Jost;
  color: $textDarken;
}
